{{page-title "Accordion"}}

<h1 class="title">Accordion</h1>

<h2 class="subtitle">Example</h2>

{{! BEGIN-SNIPPET example }}

<Bs::Accordion as |accordion|>
  <accordion.item as |item|>
    <item.button>Accordion Item #1</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #2</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #3</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
</Bs::Accordion>

{{! END-SNIPPET }}

{{#let (get-code-snippet "example.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}

<h2 class="subtitle">Flush</h2>

{{! BEGIN-SNIPPET flush }}

<Bs::Accordion @flush={{true}} as |accordion|>
  <accordion.item as |item|>
    <item.button>Accordion Item #1</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #2</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #3</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
</Bs::Accordion>

{{! END-SNIPPET }}

{{#let (get-code-snippet "flush.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}

<h2 class="subtitle">Always open</h2>

{{! BEGIN-SNIPPET always-open }}

<Bs::Accordion @alwaysOpen={{true}} as |accordion|>
  <accordion.item as |item|>
    <item.button>Accordion Item #1</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #2</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
  <accordion.item as |item|>
    <item.button>Accordion Item #3</item.button>
    <item.body>Accordion Body</item.body>
  </accordion.item>
</Bs::Accordion>

{{! END-SNIPPET }}

{{#let (get-code-snippet "always-open.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}