{{page-title "Breadcrumb"}}

<h1 class="title">Breadcrumb</h1>

<h2 class="subtitle">Example</h2>

<div class="example">
  {{! BEGIN-SNIPPET breadcrumb-example }}

  <Bs::Breadcrumb as |breadcrumb|>
    <breadcrumb.item @current={{true}}>
      Home
    </breadcrumb.item>
  </Bs::Breadcrumb>

  <Bs::Breadcrumb as |breadcrumb|>
    <breadcrumb.item>
      <LinkTo @route="index">
        Home
      </LinkTo>
    </breadcrumb.item>
    <breadcrumb.item @current={{true}}>
      Library
    </breadcrumb.item>
  </Bs::Breadcrumb>

  <Bs::Breadcrumb as |breadcrumb|>
    <breadcrumb.item>
      <LinkTo @route="index">
        Home
      </LinkTo>
    </breadcrumb.item>
    <breadcrumb.item>
      <LinkTo @route="index">
        Library
      </LinkTo>
    </breadcrumb.item>
    <breadcrumb.item @current={{true}}>
      Data
    </breadcrumb.item>
  </Bs::Breadcrumb>

  {{! END-SNIPPET }}
</div>

<Snippet @name="breadcrumb-example" />

<h2 class="subtitle">Dividers</h2>

<div class="example">
  {{! BEGIN-SNIPPET breadcrumb-example-2 }}

  <Bs::Breadcrumb
    style={{html-safe "--bs-breadcrumb-divider: '>';"}}
    as |breadcrumb|
  >
    <breadcrumb.item>
      <LinkTo @route="index">
        Home
      </LinkTo>
    </breadcrumb.item>
    <breadcrumb.item @current={{true}}>
      Library
    </breadcrumb.item>
  </Bs::Breadcrumb>

  {{! END-SNIPPET }}
</div>

<Snippet @name="breadcrumb-example-2" />