{{page-title "Buttons"}}

<h1 class="title">Buttons</h1>

<h2 class="subtitle">Examples</h2>

<div class="example">
  {{! BEGIN-SNIPPET button-example }}

  <Bs::Button @color="primary" @onClick={{(optional)}}>Primary</Bs::Button>
  <Bs::Button @color="secondary" @onClick={{(optional)}}>Secondary</Bs::Button>
  <Bs::Button @color="success" @onClick={{(optional)}}>Success</Bs::Button>
  <Bs::Button @color="danger" @onClick={{(optional)}}>Danger</Bs::Button>
  <Bs::Button @color="warning" @onClick={{(optional)}}>Warning</Bs::Button>
  <Bs::Button @color="info" @onClick={{(optional)}}>Info</Bs::Button>
  <Bs::Button @color="light" @onClick={{(optional)}}>Light</Bs::Button>
  <Bs::Button @color="dark" @onClick={{(optional)}}>Dark</Bs::Button>

  {{! END-SNIPPET }}
</div>

<Snippet @name="button-example" />

<h2 class="subtitle">Outline buttons</h2>

<div class="example">
  {{! BEGIN-SNIPPET button-example-2 }}

  <Bs::Button
    @outline={{true}}
    @color="primary"
    @onClick={{(optional)}}
  >Primary</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="secondary"
    @onClick={{(optional)}}
  >Secondary</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="success"
    @onClick={{(optional)}}
  >Success</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="danger"
    @onClick={{(optional)}}
  >Danger</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="warning"
    @onClick={{(optional)}}
  >Warning</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="info"
    @onClick={{(optional)}}
  >Info</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="light"
    @onClick={{(optional)}}
  >Light</Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="dark"
    @onClick={{(optional)}}
  >Dark</Bs::Button>

  {{! END-SNIPPET }}
</div>

<Snippet @name="button-example-2" />

<h2 class="subtitle">Sizes</h2>

<div class="example">
  {{! BEGIN-SNIPPET button-example-3 }}

  <Bs::Button @size="lg" @color="primary" @onClick={{(optional)}}>
    Large button
  </Bs::Button>
  <Bs::Button @size="lg" @color="secondary" @onClick={{(optional)}}>
    Large button
  </Bs::Button>
  <Bs::Button @size="sm" @color="primary" @onClick={{(optional)}}>
    Small button
  </Bs::Button>
  <Bs::Button @size="sm" @color="secondary" @onClick={{(optional)}}>
    Small button
  </Bs::Button>

  {{! END-SNIPPET }}
</div>

<Snippet @name="button-example-3" />

<h2 class="subtitle">Disabled state</h2>

<div class="example">
  {{! BEGIN-SNIPPET button-example-4 }}

  <Bs::Button @color="primary" @disabled={{true}} @onClick={{(optional)}}>
    Primary button
  </Bs::Button>
  <Bs::Button @color="secondary" @disabled={{true}} @onClick={{(optional)}}>
    Button
  </Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="primary"
    @disabled={{true}}
    @onClick={{(optional)}}
  >
    Primary button
  </Bs::Button>
  <Bs::Button
    @outline={{true}}
    @color="secondary"
    @disabled={{true}}
    @onClick={{(optional)}}
  >
    Button
  </Bs::Button>

  {{! END-SNIPPET }}
</div>

<Snippet @name="button-example-4" />

{{! TODO: loading }}