{{! @glint-nocheck }}

{{page-title "Offcanvas"}}

<h1 class="title">Offcanvas</h1>

<div class="example">
  {{! BEGIN-SNIPPET offcanvas-example }}

  <Bs::Button @onClick={{fn (mut this.showOffcanvas) true}}>
    Launch demo offcanvas
  </Bs::Button>

  {{#if this.showOffcanvas}}
    <Bs::Offcanvas
      @placement="end"
      {{!-- @scroll={{true}}
      @backdrop={{false}} --}}
      @onClose={{fn (mut this.showOffcanvas) false}}
      as |offcanvas|
    >
      <offcanvas.header @title="My Title" />
      <offcanvas.body>My Body</offcanvas.body>
    </Bs::Offcanvas>
  {{/if}}

  {{! END-SNIPPET }}
</div>

<Snippet @name="offcanvas-example" />