{{! @glint-nocheck }}

{{page-title "Tooltips"}}

<h1 class="title">Tooltips</h1>

<div class="example">
  {{! BEGIN-SNIPPET tooltip-example }}

  <a href="#" {{tooltip "Tooltip on top"}}>
    Tooltip on top
  </a>
  <Bs::Button {{tooltip "Tooltip on top"}}>
    Tooltip on top
  </Bs::Button>
  <Bs::Button {{tooltip "Tooltip on right" placement="right"}}>
    Tooltip on right
  </Bs::Button>
  <Bs::Button {{tooltip "<em>Tooltip</em> <u>with</u> <b>HTML</b>" html=true}}>
    Tooltip with HTML
  </Bs::Button>

  {{! END-SNIPPET }}
</div>

<Snippet @name="tooltip-example" />