<button
  type={{if @isSubmit "submit" "button"}}
  class="btn
    {{if @size (concat 'btn-' @size)}}
    btn-{{if @outline 'outline-' ''}}{{if @color @color 'secondary'}}"
  ...attributes
>
  {{yield}}
</button>